{% extends 'learnapp/home.html' %}
{% block head %}
  <title>{% block title %} detail page{% endblock %}</title>
  {{ block.super}}
{% endblock %}
{% include 'learnapp/base.html'%}
{% block body %}
        <div class="container">
          <div class="row pb-5">
                  <div class="col-8 col-auto pb-5 mb-5 pl-5" style="margin-top:18%;margin-left:30%;padding-right:30%;">
                    {% if messages  %}

                    {% for message in messages %}
                    {# {{message.tags}} #}
                          <div class="alert alert-danger" >
                              {{message}}
                          </div>
                      {% endfor %}
                        {% endif %}
                        {# {% endfor %} #}
                    {# {% endif %} #}
                    {# <div class="col"> #}
                    <form method="post" >
                      <div class='text-center '>
                        <h1 >{{ title }}</h1>
                      </div>
                      {% csrf_token %}
                          {{ form }}
                      <button class="btn btn-default offset-sm-3" style="margin-left:37%;margin-top:10px;">Submit</button>
                      </form>
                {# </div> #}

              </div>
          </div>
        </div>

{% endblock %}
